@model Sicle.Web.Areas.Contratos.Models.ContratoVendaMestreVM

@using Dominio.Entidades.Contrato
@using Util

@{
    ViewData["Title"] = "SICLE";
}

@section Styles
{
    <style>

        table th {
            font-size: 12px;
            text-align:center;
        }        

        table td {
            font-size: 10px;
            text-align:center;
        }      

        .col-id {
            width: 70px;
        }  

    </style>
}

<div class="row">
    <div class="col-md-12">
        <h2>Contrato Mestre</h2>
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Salvar" method="post">
            <div class="form-group">

                <input type="hidden" class="form-control" name="Id" value="@Model.ContratoMestreId"/>

                <div class="row">
                    <div class="col">                        
                        <label for="ex1" class="col-form-label">Apelido:</label> 
                        <input type="text" class="form-control" name="Nickname" 
                            value="@Model.ContratoMeste.Nickname"/>
                    </div>
                    <div class="col">                       
                        <label for="ex1" class="col-form-label">Volume Total:</label>   
                        <input type="text" class="form-control"  readonly/> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">                        
                        <label for="ex1" class="col-form-label">Observação:</label>  
                        <input type="text" class="form-control" name="Observation" 
                                value="@Model.ContratoMeste.Observation"/>
                    </div>
                </div>
               
                <div class="row">
                     <div class="col float-right">
                        <input type="submit" name="btnSearch" value="Salvar" class="btn btn-light" />                   
                    </div>    
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col"><h4>Contratos</h4></div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Farol</th>
                    <th>
                        <a asp-action="Edit"
                           asp-route-sortOrder="@ViewData["IdSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a>
                    </th>
                    <th>Farol Endosso</th>
                    <th>Endosso</th>
                    <th>
                        <a asp-action="Editar"
                           asp-route-sortOrder="@ViewData["NomeSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a>
                    </th>
                    @* <th>Apelido</th> *@
                    <th>Grupo Produto</th>
                    <th>Cliente</th>
                    <th>Início</th>
                    <th>Fim</th>
                    @* <th>Flexibilidade</th> *@
                    <th>Status</th>
                    <th>Vol. Total</th>
                    <th>Periodicidade</th>
                    @* <th>Grp. Econ.</th> *@
                    @* <th>Cond. Pag.</th> *@
                    <th>Disp. Broker</th>
                    <th>Ativo</th>
                    <th>Com Limite</th>
                    <th>Limite</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var vm = Model.ConvertoToViewModel(item);

                    <partial name="_ContratoVendaRow.cshtml" model="@vm"></partial>  
                }
            </tbody>
        </table>
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder='@ViewData["CurrentSort"]'
               asp-route-pageNumber='@(Model.PageIndex - 1)'
               asp-route-currentFilter='@ViewData["CurrentFilter"]'
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder='@ViewData["CurrentSort"]'
               asp-route-pageNumber='@(Model.PageIndex + 1)'
               asp-route-currentFilter='@ViewData["CurrentFilter"]'
               class="btn btn-default @nextDisabled">
                Próximo
            </a>
        </li>
    </ul>
</nav>


<script>
  
</script>