@model Sicle.Web.Areas.Contratos.Models.ContratoVendaMestreModel

@using Dominio.Entidades.Contrato
@using Util

@{
    ViewData["Title"] = "SICLE";
}

@section Styles
{
    <style>

        table th {
            font-size: 12px;
            text-align:center;
        }        

        table td {
            font-size: 10px;
            text-align:center;
        }      

        .col-id {
            width: 70px;
        }  

    </style>
}

<div class="row">
    <div class="col-md-6">
        <h2>Contrato Mestres de Venda</h2>
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-md-12 float-right">
        <form asp-action="Index" method="get">
            <div class="form-group row">
                                
                <div class="col-sm-1">
                    <label for="ex1" class="col-form-label">Apelido:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="SearchString" class="form-control" value='@ViewData["currentFilter"]' />
                </div>


                <div class="col-sm-1">
                    <label for="Grupo" class="col-form-label">Status:</label>
                </div>
                <div class="col-sm-3">

                    <select class="form-control" data-val="false" id="ddlStatus" name="status"                            
                            asp-items='Html.GetEnumSelectList<ContractStatus>()'>
                        @* asp-items='@(new SelectList(Model.ListStatus, "Value", "Text"))'*@
                            <option value="">Selecione</option>
                    </select>

                </div>
                <div class="col-sm-4">
                    <input type="submit" name="btnSearch" value="Pesquisar" class="btn btn-light" /> |
                    <a asp-action="Index" class="btn btn-light">Limpar</a> |
                    <a href="@Url.Action("Salvar", "ContratoVendaMestre")" class="btn btn-light">Novo</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Farol</th>
                    <th class="col-id"><a asp-action="Index"
                           asp-route-sortOrder="@ViewData["ContratoIdSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a></th>                  
                    <th>Status</th>
                    <th>Farol Endosso</th>                                   
                    <th>Status Endosso</th>
                    <th><a asp-action="Index"
                           asp-route-sortOrder="@ViewData["ApelidoSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Apelido</a></th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Volume Total</th>
                    <th>Volume Máximo</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    Model.PrepareRowToShow(item);

                <tr>
                    <td><img src="@Model.Farol"/></td>
                    <td>@Model.GetId(item)</td>
                    <td>@Model.StatusMestre</td>     

                    <td><img src="@Model.EndorsementIcon"/></td> 
                    <td>@Model.EndossoMestre</td>       

                    <td>@Html.DisplayFor(modelItem => item.Nickname)</td>

                    <td>@Html.Display("MinDate", Model.MinDate)</td>
                    <td>@Html.Display("MaxDate", Model.MaxDate)</td>
                    
                    <td>@Html.Display("TotalVolume", Model.TotalVolume)</td>
                    <td>@Html.Display("MaxVolume", Model.MaxVolume)</td>

                    <td>@Html.CheckBoxFor(modelItem => item.IsActive, new { disabled = "disabled" })</td>                   
                    
                    <td>
                        @Html.ActionLink("Editar", "Editar", new {id=@item.Id})
                    </td>                   
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"                
                asp-route-sortOrder='@ViewData["CurrentSort"]'
                asp-route-pageNumber='@(Model.PageIndex - 1)'
                asp-route-currentFilter='@ViewData["CurrentFilter"]'
                class="btn btn-default @prevDisabled">
                Anterior
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index"                
                asp-route-sortOrder='@ViewData["CurrentSort"]'
                asp-route-pageNumber='@(Model.PageIndex + 1)'
                asp-route-currentFilter='@ViewData["CurrentFilter"]'
                class="btn btn-default @nextDisabled">
                Próximo
            </a>
        </li>
    </ul>
</nav>


<script>
    var input = document.getElementById("SearchString");

    if (input != null) {
        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("btnSearch").click();
            }
        });
    }
</script>