@model ContratoVendaRow
@using Sicle.Web.Areas.Contratos.Models


<tr>
    <td>
        <a href="@Url.Action("Edit", "ContratoVendaMI", new {Area = "Contratos", id=@Model.Contrato.Id})" class="btn btn-sm fas fa-pencil-alt"></a>
    </td>
    <td><img src="@Model.Farol"/></td>
    <td>@Model.MaskId</td>
    <td><img src="@Model.FarolEndorsement"/></td>
    <td>@Model.StatusEndorsement</td>
    <td>@Model.Name</td>
    @* <td>@Model.Apelido</td> *@
    <td>@Model.ProductGroup</td>
    <td>@Model.ClientGroup</td>
    <td>@Model.Begin</td>
    <td>@Model.End</td>
    <td>@Model.Flex</td>
    <td>@Model.Status</td>
    <td>@Model.TotalVolume</td>
    <td>@Model.Period</td>
    @* <td>@vm.GrupoEconomico</td> *@
    @* <td>@vm.PrazoPagamento</td> *@
    
    <td>@Html.CheckBoxFor(modelItem => Model.IsAvailableForBroker, new { disabled = "disabled" })</td>
    <td>@Html.CheckBoxFor(modelItem => Model.IsActive, new { disabled = "disabled" })</td>

    <td>@Html.CheckBoxFor(modelItem => Model.IsForecast, new { disabled = "disabled" })</td>    
    <td>@Model.MaxForecast</td>
    
    <td>@Model.MasterContract</td>
    <td>@Html.CheckBoxFor(modelItem => Model.IsNegotiationBC, new { disabled = "disabled" })</td>   
    <td><img src="@Model.EmailStatus"/></td>  
    
</tr>
