@model Sicle.Web.Models.PaginatedList<Dominio.Entidades.Contrato.SaleContract>
@using Sicle.Web.Areas.Contratos.Models

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Farol</th>
                    <th>
                        <a asp-action="Index"
                           asp-area="Contratos"
                           asp-controller="ContratoVendaMI"
                           asp-route-sortOrder="@ViewData["IdSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a>
                    </th>
                    <th>Farol Endosso</th>
                    <th>Endosso</th>
                    <th>
                        <a asp-action="Index"
                           asp-area="Contratos"
                           asp-controller="ContratoVendaMI"
                           asp-route-sortOrder="@ViewData["NomeSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a>
                    </th>
                    @* <th>Apelido</th> *@
                    <th>Grupo Produto</th>
                    <th>Cliente</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Flexibilidade</th>
                    <th>Status</th>
                    <th>Vol. Total</th>
                    <th>Periodicidade</th>
                    @* <th>Grp. Econ.</th> *@
                    @* <th>Cond. Pag.</th> *@
                    <th>Disp. Broker</th>
                    <th>Ativo</th>
                    @* <th>Com Limite</th> *@
                    
                    <th>Por Demanda?</th>
                    <th>Limite</th>
                    <th>Mestre</th>
                    <th>Negoc. BC</th>
                    <th>E-mail Enviado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var vm = new ContratoVendaRow(item);

                    <partial name="_ContratoVendaRow.cshtml" model="@vm"></partial>  
                }
            </tbody>
        </table>
    </div>
</div>
