@* @model Sicle.Web.Areas.Contratos.Models.EditContratoVendaVM *@
@model Dominio.Entidades.Contrato.SaleContract
@using Dominio.Entidades.Contrato
@using Dominio.Entidades.Produtos
@using Util

<form asp-action="Save" method="post">
    <div class="form-group">

        <input type="hidden" class="form-control" name="Id" value="@Model.Id">  
        <input type="hidden" class="form-control" name="Id" value="@Model.CreationUserId">  
        <input type="hidden" class="form-control" name="Id" value="@Model.CreationDate"> 

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input position-static" type="checkbox" asp-for="IsActive" id="chkAtivo">
                <label class="custom-control-label" for="chkAtivo">Ativo</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ContratoMestre.Nickname">Mestre (...)</label>
            <div class="col-md-4">               
               
                <input type="hidden" id="contratoMestreId" asp-for="@Model.ContratoMestreId">
                <input type="text" id="contratoMestre" class="form-control typeahead" data-provide="typeahead" 
                        asp-for="@Model.ContratoMestre.Nickname" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Name">Nome</label>
            <div class="col-md-4">
                <input type="text" class="form-control" asp-for="@Model.Name" id="contractName">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Nickname">Apelido</label>
            <div class="col-md-4">
                <input type="text" class="form-control" asp-for="@Model.Nickname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Begin">Início</label>
            <div class="col-md-4">
                <input type="text" class="form-control datepicker" asp-for="@Model.Begin">                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="End">Fim</label>
            <div class="col-md-4">
                <input type="text" class="form-control datepicker" asp-for="@Model.End">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Safra">Vigência</label>
            <div class="col-md-4">
                <input type="text" class="form-control datepicker" asp-for="@Model.Safra" onchange="changeName(this)" id="contractDuration" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Period">Periodicidade</label>
            <div class="col-md-4">
                <select asp-for="@Model.Period" class="form-control"
                        asp-items="EnumHelper.GetSelectList<PeriodType>()">
                    <option value="0">Selecione</option>
                </select>        
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ProductGroupId">Grupo de Produto</label>
            <div class="col-md-4">
                <select asp-for="@Model.ProductGroupId" class="form-control" onchange="changeName(this)" id="contractProductGroup"
                        asp-items='new SelectList(@Sicle.Web.Controllers.ContratoVendaMIController.ListProductGroups(), "Id", "Code")'>
                    <option value="0">Selecione</option>
                </select>        
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="ClientGroupId">Grupo de Cliente (...)</label>
            <div class="col-md-4">
                <input type="hidden" id="clientGroupId" asp-for="@Model.ClientGroupId">
                <input type="text" id="clientGroup" class="form-control typeahead" data-provide="typeahead"  onchange="changeName(this)"
                        asp-for="@Model.ClientGroup" >
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="PaymentTermId">Condição de Pagamento (...)</label>
            <div class="col-md-4">
                <input type="hidden" id="paymentTermId" asp-for="@Model.PaymentTermId">
                <input type="text" id="paymentTerm" class="form-control typeahead" data-provide="typeahead" 
                        asp-for="@Model.PaymentTerm.Code" >
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="BrokerId">Broker (...)</label>
            <div class="col-md-4">
                <input type="hidden" id="brokerId" asp-for="@Model.BrokerId">
                <input type="text" id="broker" class="form-control typeahead" data-provide="typeahead" 
                        asp-for="@Model.Broker.Code" >
                
            </div>
        </div>        

        <div class="form-group">
     
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input position-static" type="checkbox" asp-for="IsAvailableForBroker" id="chkBroker">
                <label class="custom-control-label" for="chkBroker">Disponível para SCA</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input position-static" type="checkbox" asp-for="IsOperacaoNNE" id="chkNNE">
                <label class="custom-control-label" for="chkNNE">Operação NNE</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input position-static" type="checkbox" asp-for="HasNegotiationBC" id="chkBC">
                <label class="custom-control-label" for="chkBC">Negociação BC</label>
            </div>            
        
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="TraderId">Trader</label>
            <div class="col-md-4">
                <input type="hidden" id="traderId" asp-for="TraderId">
                <input type="text" id="trader" class="form-control typeahead" data-provide="typeahead" 
                        asp-for="Trader.Nome" >                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Observation">Observação</label>
            <div class="col-md-4">
                <textarea type="text" class="form-control" asp-for="Observation"></textarea>                
            </div>
        </div>       

         <div class="form-group">
             <div class="col-md-4">
                 <button type="submit" class="btn btn-success">Salvar <i class="fas fa-save"></i></button>
             </div>
         </div> 
    </div>
</form>
