@model Sicle.Web.Areas.Contratos.Models.EditContratoVendaVM
@using Dominio.Entidades.Contrato
@using Dominio.Entidades.Produtos
@using Util

<form asp-action="Salvar" method="post">
    <div class="form-group">

        <input type="hidden" class="form-control" name="Id" value="@Model.ContratoMestreId"/>           

        <div class="form-group">
            <label class="col-md-2 control-label" for="Model.Contrato.ContratoMestre.Nickname">Contrato Mestre</label>
            <div class="col-md-4">
                <input type="text" class="form-control" asp-for="@Model.Contrato.ContratoMestre.Nickname" 
                    disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Nickname">Apelido</label>
            <div class="col-md-4">
                <input type="text" class="form-control" asp-for="@Model.Contrato.Nickname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Begin">Início</label>
            <div class="col-md-4">
                <input id="begin" type="text" class="form-control datepicker" asp-for="@Model.Contrato.Begin">                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="End">Fim</label>
            <div class="col-md-4">
                <input type="text" class="form-control datepicker" asp-for="@Model.Contrato.End">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Period">Periodicidade</label>
            <div class="col-md-4">
                <select asp-for="@Model.Contrato.Period" class="form-control"
                        asp-items="EnumHelper.GetSelectList<PeriodType>()">
                    <option value="0">Selecione</option>
                </select>        
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ProductGroupId">Grupo de Produto</label>
            <div class="col-md-4">
                <select asp-for="@Model.Contrato.ProductGroupId" class="form-control"
                        asp-items='new SelectList(@Model.ProductGroups, "Id", "Code")'>
                    <option value="0">Selecione</option>
                </select>        
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="PaymentTermId">Condição de Pagamento</label>
            <div class="col-md-4">
                <input type="hidden" id="paymentTermId" asp-for="@Model.Contrato.PaymentTermId">
                <input type="text" id="paymentTerm" class="form-control typeahead" data-provide="typeahead" 
                        asp-for="@Model.Contrato.PaymentTerm.Code">  

                
            </div>
        </div>

    </div>
</form>
